<html lang="en">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/738bb60142.js" crossorigin="anonymous"></script>
    <div class="transparentbox">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <h2>About</h2>
            <p>Welcome to Recipe Ideas Search Engine, your ultimate culinary companion!<br> <br>
             Our innovative search engine is designed to help you discover the perfect recipe for any occasion, effortlessly. <br>
           <br> Whether you're a seasoned chef or a home cook, Recipe Ideas Seach Engine makes it easy to explore a vast collection of recipes from around the world. <br>
            To use type a keyword and choose your preferred data source to explore an extensive collection of recipes from both MongoDB and PostgreSQL databases. <br>
            Simply enter ingredients you have on hand, dietary preferences, or specific cuisines you're interested in, and let our powerful search algorithm do the rest. <br>
            You'll find step-by-step instructions and detailed nutritional information to guide you in creating delicious meals.<br>
            <br> If you have a recipe of your own that you would like to share with our community, we have added the ability to add your own flavor to our collection. <br>
            Simply fill out the form available, if you need guidence you can press the button that says Load Test Recipe, and it will load a recipe to show you the format.<br>
            Join our community of food enthusiasts and transform your cooking experience with Recipe Ideas!</p>
        </div>
        <img src="/images/image-from-rawpixel-id-7554630-png.png" width="400px">
        <br>
        <%- include('./partials/status.ejs') %>
        <br>
        </br>
        <%- include('./partials/auth.ejs') %>
        <br>
        <button id="darkModeToggle">Toggle Dark Mode</button>
        <script src="/darkmode.js"></script>
    </body>
</div>
    <%- include('./partials/footer.ejs') %>
  
</html>