<html lang="en">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/738bb60142.js" crossorigin="anonymous"></script>
    <div class="transparentbox">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <h2>About</h2>
            <p>Welcome to Recipe Ideas Search Engine, your ultimate culinary companion!<br> <br>
             Our innovative search engine is designed to help you discover the perfect recipe for any occasion, effortlessly. <br>
            Whether you're a seasoned chef or a home cook, Recipe Ideas Seach Engine makes it easy to explore a vast collection of recipes from around the world. <br>
            Simply enter ingredients you have on hand, dietary preferences, or specific cuisines you're interested in, and let our powerful search algorithm do the rest. <br>
            You'll find step-by-step instructions, detailed nutritional information to guide you in creating delicious meals.<br>
            Join our community of food enthusiasts and transform your cooking experience with Recipe Ideas!</p>
        </div>
        <%- include('./partials/status.ejs') %>
        </br>
        <%- include('./partials/auth.ejs') %>
    </body>
</div>
    <%- include('./partials/footer.ejs') %>
  
</html>