<html lang="en">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/738bb60142.js" crossorigin="anonymous"></script>
    <div class="transparentbox">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <h2>Welcome</h2>
            <br>
            <p>Welcome to Recipe Ideas Search Engine, your ultimate culinary companion!</p>
            <br>
            <p>Simply enter a keyword and choose your preferred data source to explore an extensive collection of recipes.</p>
            <p>Check out our search page to get started on your next meal!</p>
            <br>
            <img src="/images/image-from-rawpixel-id-6479680-png.png" width="400px">
        </div>
    
        <br>
        <%- include('./partials/status.ejs') %>
        <br>
        </br>
        <%- include('./partials/auth.ejs') %>
        <br>
        <button id="darkModeToggle">Toggle Dark Mode</button>
        <script src="/darkmode.js"></script>
    </body>
</div>
    <%- include('./partials/footer.ejs') %>

</html>