<html lang="en">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/738bb60142.js" crossorigin="anonymous"></script>
	<div class="transparentbox">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
		<div class="login">
			<h2>Login</h2>
			<form action="/auth" method="post">
				<label for="username"></label>
				<input type="text" name="username" placeholder="Username" id="username" required></br>
				<br>
				<label for="password"></label>
				<input type="password" name="password" placeholder="Password" id="password" required></br>
				<br>
				<input type="submit" value="Login">
			</form>
			<br>
			<br>
			<div class="navbox">
			<div class="textbox"><i class="fa-brands fa-facebook"></i><a href="/auth/facebook"> Login with Facebook</a></div>
			<br>
            <div class="textbox"><i class="fa-brands fa-google"></i><a href="/auth/google"> Login with Google</a></div>
		    </div>
			<br>
        </div>
		<br>
		<%- include('./partials/status.ejs') %>
		<br>
		</br>
		<br>
        <%- include('./partials/auth.ejs') %>
		<br>
    </body>
</div>
    <%- include('./partials/footer.ejs') %>

</html>