<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="search content">
            <form action="/search" method="POST">
                </br> 
                <% if (theResults.length > 0) { %>
                    <% theResults.forEach(item => { %>
                        <b><%= item.title %></b></br>
                        <b>Ingredients:</b> <%= item.ingredients.join(', ') %></br>
                        <b>Instructions:</b> <%= item.instructions %></br>
                        <b>Cuisine:</b> <%= item.cuisine %></br>
                        <% if (item.dietaryRestrictions && Array.isArray(item.dietaryRestrictions)) { %>
                            <b>Dietary Restrictions:</b> <%= item.dietaryRestrictions.join(', ') %></br>
                        <% } else { %>
                            <b>Dietary Restrictions:</b> None</br>
                        <% } %>
                        <b>Prep Time:</b> <%= item.prepTime %> minutes</br>
                        <b>Cook Time:</b> <%= item.cookTime %> minutes</br>
                        <b>Nutrition:</b> Calories: <%= item.nutrition.calories %>, Protein: <%= item.nutrition.protein %>g, Fat: <%= item.nutrition.fat %>g, Carbs: <%= item.nutrition.carbs %>g</br>
                        <b>Rating:</b> <%= item.rating %></br>
                        <b>Author:</b> <%= item.author %></br>
                        </br>
                    <% }) %>
                <% } else { %>
                    <p>No search results.</p>
                <% } %>
                </br><label>Recipe Search:</label></br>
                <label>Keyword:
                    <input type="text" id="keyword" name="keyword" value="<%= locals.keyword %>" required>
                </label>
                </br>
                <button>POST</button>
            </form>
        </div>
        <%- include('./partials/status.ejs') %>
        </br>
        <%- include('./partials/auth.ejs') %>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>